{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to ToySwap Site</h1>
        <p>A site where you can do almost nothing may be</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/toys" role="button">Find Toys</a>
        </p>
    </div>
{% endblock %}


